body {
    font-family: 'Patrick Hand', cursive;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

#alphabet {
    margin-top: 10px;
}

#alphabet a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.5em;
}

#alphabet a:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 40px;
}

section img {
    max-width: 100%;
    display: block;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button#goToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

button#goToTop:hover {
    background-color: #45a049;
}
